* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    background: #3E2A1F;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style: square;
}

ul li {
    margin-left: 25px;
}


div#top {
    background: url('/images/old_chap.gif') 2px 5px no-repeat;
}

h1 {
    color: #F1C190;
    font-size: 1.5em;
    padding: 20px 0px 5px 35px;
}

div#top ul#menu {
    list-style: none;
    border-top: 5px solid #7F685A;
    border-bottom: 1px solid #AC9A8F;
    background: #CDC2B4;
    padding: 5px 10px;
    overflow: hidden;
}


div#top ul#menu li {
    float: left;
    margin: 0px 10px;
}

div#top ul#menu li a {
    font-size: 0.9em;
    color: #876F61;
    text-decoration: none;
}

div#top ul#menu li a:hover {
    color: black;
    text-decoration: underline;
}

a[target="_blank"] {
    background: url('/images/icons/bullet_toggle_plus.png') right -2px no-repeat;
    padding-right: 14px;
}

div#footer {
    border-top: 5px solid #7F685A;
    color: #7F685A;
    padding: 5px 15px;
    text-align: right;
}

div#content {
    background: white;
    min-width: 900px;
}

div.twocols {
    overflow: hidden;
    background: #FFF8EF;
}

div.twocols div.twocols-left {
    float: left;
    width: 315px;
    background: #FFF8EF;
}

div.twocols div.twocols-left div.content {
    padding: 0px 10px;
}


div.twocols div.twocols-right {
    overflow: hidden;
    width: auto;
    min-height: 100%;
    border-left: 1px dotted #3E2A1F;
    background: white;
    min-height: 600px;
}

div.twocols div.twocols-right div.content {
    padding: 0px 20px 10px 20px;
}

h2 {
    color: #7F685A;
    margin: 20px 0px 15px 0px;
    font-size: 1.4em;
    font-weight: normal;
}

h3 {
    color: #AC9A8F;
    margin: 20px 0px 10px 0px;
    font-size: 1em;
    font-weight: bold;
}

img#profile {
    margin-top: 20px;
    border: 1px solid black;
    width: 100%;
}

p {
    margin: 10px 0px;
    max-width: 700px;
    text-align: justify;
}

a {
    color: #7F685A;
}

em {
}

.news-item div.title h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.news-item div.title h2 a {
    text-decoration: none;
}

.news-item div.title h2 a:hover {
    text-decoration: underline;
}

.news-item ul li {
    margin-left: 30px;
    max-width: 700px;
}

.news-separator {
    max-width: 460px;
    margin: 55px 120px;
    height: 2px;
    background: #CDC2B4;
}

.news-item div.title .date {
    color: #666;
    font-size: smaller;
    margin-bottom: 10px;
}

.header-box-right {
    max-width: 700px;
}
.header-box-right a {
    margin-top: -20px;
    margin-right: 10px;
    float: right;
    padding: 3px 5px;
    background: #FFF8EF;

    border-left:   1px solid #AC9A8F;
    border-bottom: 1px solid #AC9A8F;
    border-right:  1px solid #AC9A8F;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;

}

pre {
    margin: 20px 5px 20px 10px;
    border-left: 2px dotted #7F685A;
    background: #FFF8EF;
    padding: 5px 10px;
    max-width: 700px;
    font-size: 1em;
}

div.error404 {
    padding: 10px;
}

div.publications {
    max-width: 700px;
    text-align: justify;
}
